<h1 class="display-4 mb-4 mt-4">Your listings</h1>

<%- if @listings.empty? %>
	<p>You don't have any listings at this moment...</p>
<% else %>
	<table class="table mt-5">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Title</th>
				<th scope="col">Company</th>
				<th scope="col">Description</th>
				<th scope="col">Technologies</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<% @listings.each do |listing| %>
				<tr>
					<th scope="row">1</th>
					<td><%= link_to listing.title, listing %></td>
					<td><%= listing.company %></td>
					<td><%= listing.description %></td>
					<td><%= listing.technologies %></td>
					<td>Interested</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
