<div class="mx-auto">
  <h2 class="my-4 text-center">Your Listings</h2>

  <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Kanban</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%= render 'listings/table', listings: @listings %>
    </div>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="break-out">
        <%= render 'listings/kanban', listings: @listings %>
      </div>
    </div>
  </div>

</div>
