<h2>Your Dashboard</h2>

<ul>
	<li>Lisings: <%= @dashboard_data[:listings_count] %></li>
	<li>Technologies: <%= @dashboard_data[:technologies_count] %></li>
	<li>Companies: <%= @dashboard_data[:companies_count] %></li>
</ul>