<div class="jumbotron jumbotron-fluid text-center bg-white">
  <h1 class="display-4">Your personal assistant to find a job</h1>
  <p class="lead">Use Job Hunt Assistant to help you find, organize and manage the job positions you are interested in.</p>
  <%= link_to 'Start now', new_user_registration_path, class: "btn btn-lg btn-outline-primary mt-5" %>
</div>

<div class="row">
  <div class="col-sm">
    <div class="card text-center border-0">
      <div class="card-body">
        <i class="display-4 far fa-plus-square m-4"></i>
        <h5 class="card-title">Add companies</h5>
        <p class="card-text">Add different companies and office locations and see the map and Glassdoor rates</p>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card text-center border-0">
      <div class="card-body">
        <i class="display-4 far fa-heart m-4"></i>
        <h5 class="card-title">Work with what you love</h5>
        <p class="card-text">List all technologies, programming languages and stacks from the different positions to filter easily for the positions with the ones you prefer</p>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card text-center border-0">
      <div class="card-body">
        <i class="display-4 fas fa-tasks m-4"></i>
        <h5 class="card-title">Keep track</h5>
        <p class="card-text">Easily mark positions as interested, applied, interviewed, offered / declined, unsuccessful to have an overview of the job hunt process</p>
      </div>
    </div>
  </div>
</div>
