<div class="card text-center">
  <div class="card-body pt-5 pb-5">
    <h1 class="card-title mt-3">Your personal assistant to find a job!</h5>
    <p class="card-text mt-4">Use JSA to help you find, organize and manage the job positions you are interested in.</p>
    <a href="#" class="btn btn-danger btn-outline">Start now</a>
  </div>
</div>