<div class="auth-card m-auto">
  <h1 class="my-4">Add a company</h1>
  <div class="alert alert-info" role="alert">
    To make it easier to filter and if that is useful for your case, try adding different locations as new companies. For example, instead of just 'Microsoft', add 'Microsoft, Vancouver' and 'Microsoft, Redmond'
  </div>
  <%= render 'companies/form' %>
</div>
