<div class="card mx-auto my-4" style="max-width: 40%">
  <%= image_tag 'mock_map.png', class: "card-img-top" %>

  <h3 class="card-title p-3"><%= @company.name %></h3>
  <div class="card-body">
    <p class="card-text">Glassdoor rate: <%= get_rating(@company) %></p>
    <p class="card-text">Address: <%= @company.address %></p>
  </div>
</div>
