@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";
@import "selectize";

.auth-card {
  max-width: 90%;
}

.listing-form {
  max-width: 95%;
}

.tech-table {
  max-width: 40%;
}

.alert-float {
  position: fixed;
  top: 75px;
  right: 25px;
  // min-width: 200px;
  // max-width: 400px;
  z-index: 9999;
}

@media screen and (min-width: 769px) {
  .auth-card {
    max-width: 40%;
  }

  .listing-form {
    max-width: 60%;
  }
}
