<div class="alert-float">
  <%- if notice %>
    <div class="alert alert-success p-3" role="alert">
      <span class="mr-3"><%= notice %></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <%- elsif alert %>
    <div class="alert alert-danger" role="alert">
      <span><%= alert %></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
