<div class="break-out bg-dark text-light links-light footer">
	<footer class="container py-5">
		<div class="row">
			<div class="col-4 col-md my-auto">
				<%= image_tag 'logo-for-dark-bg.png', class: 'img-fluid', height: "20px" %>
				<small class="d-block mb-3 text-light">© <%= Date.today.year %></small>
			</div>
			<div class="col-4 offset-md-2 col-md">
				<h5>Features</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#summary">Summary</a></li>
					<li><a class="text-muted" href="#dashboard">Dashboard</a></li>
					<li><a class="text-muted" href="#kanban">Kanban</a></li>
					<li><a class="text-muted" href="#company">Company Info</a></li>
				</ul>
			</div>
			<div class="col-4 col-md">
				<h5>About</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Contact</a></li>
					<li><a class="text-muted" href="#">Contribute</a></li>
					<li><a class="text-muted" href="#">Privacy</a></li>
					<li><a class="text-muted" href="#">Terms</a></li>
				</ul>
			</div>
		</div>
	</footer>
</div>
