<div class="break-out bg-dark text-light links-light footer ">
	<footer class="container py-4 py-md-5">
		<div class="row">
			<div class="col-12 order-2 order-md-1 text-center text-md-left col-md my-auto">
				<%= image_tag 'logo-for-dark-bg.png', class: 'img-fluid w-75', height: "20px" %>
				<p class="mt-1">
				built by <%= link_to "hugocbp.com", "https://hugocbp.com" %> | © <%= Date.today.year %>
				</p>
				
			</div>
			<div class="col-12 order-md-2 offset-lg-1 col-md d-none d-md-block">
				<h5>Features</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#summary">Summary</a></li>
					<li><a class="text-muted" href="#dashboard">Dashboard</a></li>
					<li><a class="text-muted" href="#kanban">Kanban</a></li>
					<li><a class="text-muted" href="#company">Company Info</a></li>
				</ul>
			</div>
			<div class="col-12 order-1 order-md-3 col-md text-center text-md-left">
				<h5>About</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Contact</a></li>
					<li><a class="text-muted" href="#">Contribute</a></li>
					<li><a class="text-muted" href="#">Privacy</a></li>
					<li><a class="text-muted" href="#">Terms</a></li>
				</ul>
			</div>
		</div>
	</footer>
</div>
